body {
  background-color: rgb(231, 231, 231);
  margin: 0;
}

.container {
  display: flex;
  height: 100vw;
}

.form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  justify-items: center;
  margin: auto;
  margin-top: 25%;
  width: 80vw;
}

.form input {
  margin: auto;
  width: 50%;
  margin-bottom: 1.5rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form button {
  margin: auto;
  width: 54%;
  margin-bottom: 1.5rem;
  padding: 1rem;
  border-radius: 4px;
  border: none;
  background-color: rgb(31, 76, 223);
  color: white;
}
